* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.game-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.reset {
  padding: 5px 10px;
  font-size: 1.6rem;
}

.beginner {
  min-width: 450px;
  width: 450px;
  border: 10px solid #b57575;
  padding: 20px;
}

.beginner > .cell {
  width: 41px;
  height: 41px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #e8dfdf85;
}

.cell {
  border: 1px solid #f2e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 4px -1px #b99c93;
}

.cell:hover {
  cursor: pointer;
}

#active-mine,
.mine {
  font-size: 1.6rem;
}

#active-mine {
  background-color: rgb(82, 0, 0, 70%);
  box-shadow: unset;
}

.mine {
  background-color: rgba(255, 0, 0, 70%);
}

.blank {
  background-color: rgba(184, 175, 175, 70%);
  box-shadow: unset;
}

.safe {
  background-color: rgba(0, 128, 0, 70%);
  box-shadow: unset;
}

.flag {
  background-color: rgba(0, 55, 128, 70%);
  box-shadow: unset;
}

.reset:hover {
  cursor: pointer;
}
